html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
  margin-bottom: 0px;
}

.grid {
  flex: 1;
  flex-direction: column;
  margin: 10px;
  display: flex;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

.row {
  flex: 1;
  display: flex;
  border-top: solid black 1px;
}

.box {
  flex: 1;
  border-left: solid black 1px;
}
