html, body {
  height: 100%;
  margin: 0;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
}

.grid {
  flex: 1;
  flex-direction: column;
  margin: 10px;

  display: flex;
}

.row {
  flex: 1;
  display: flex;
}

.box {
  flex: 1;
  border: solid black 1px;
}
